<div class='chat-name-container'>
  <select type='text' 
    class='chat-name chat-input' #name>
    <option value='user1'>user 1</option>
    <option value='user2'>user 2</option>
  </select>
</div>

<div class='chat-message-container'>

  <ul class='chat-list'>
    <li *ngFor='let message of _chatService.messages.toArray()'>
      <strong>{{message.getName()}}:</strong> {{message.getText()}}
    </li>
  </ul>
  
  <div class='chat-compose'>
    
    <input 
      type='text' 
      class='chat-input chat-text' 
      #chatInput 
      placeholder='Type your message...'
      (keyup)='handleKeyup($event)' />

    <button 
      class='chat-send' 
      (click)='sendMessage()'>
      Send
    </button>

  </div>

</div>